<h1>Add Restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'name'%>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :category, collection:["chinese", "italian", "japanese", "french", "belgian"]  %>
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>
<%= link_to "Return", restaurants_path, class: "btn btn-primary"%>

<style>
  .btn{background: #CCC;
       color:white;
       text-shadow:1px 1px black ;
       min-height:50px ;
       min-width:25px ;
      }
</style>
