<h1><%=@restaurant.name %></h1>
<ul>
  <li>
  <%=@restaurant.category%>
</li>
  <li>
  <%=@restaurant.address%>
</li>

<% @restaurant.reviews.each do |review| %>
  <li> <%=review.content  %></li>
  <li> <%= "*" * review.rating  %></li>
<% end %>

<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
<%= link_to "Return", restaurants_path, class: "btn btn-primary"%>



</ul>
