<h1>Add comment and rating</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :content, placeholder: 'content' %>
    <%= f.input :rating, placeholder: 'rating(0-5)',collection:0..5 %>
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>
<%= link_to "Return", restaurants_path, class: "btn btn-primary"%>
